<!DOCTYPE html>
<html>
<head>
    <title>后台管理主页</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--wang-->
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="/jquery-3.2.1.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/layer/layer.js"></script>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/layer/css/layer.css">
    <link rel="stylesheet" href="/stylesheets/adminLogin.css">
    <link rel="stylesheet" href="/stylesheets/adminNav.css">

</head>


<body>

<!--菜单-->
<div class="esjy-col">
    <%- include adminNav %>
    <div class="subNav bg-dark ">
        <a class="navitem-name" href="javascript:;">操作手册</a>
        <div class="subitems" id="myTabs">
            <a href="#product_number" id="item-tab" role="tab" data-toggle="pill" aria-controls="brand"
               class="showlist <% if(type == 0){ %>active  <% } %>"
               aria-expanded="true" data-type="0">货号</a>

            <a href="#product_pdf" id="pdf-tab" role="tab" data-toggle="pill" aria-controls="agency"
               class="showlist <% if(type == 1){ %>active<% } %>"
               data-type="1">pdf</a>

            <button type="button" class="btn btn-dark add-btn addNew" id="addNewPdf">
                <a href="javascript:;" target="_blank" data-toggle="modal" id="showAddPdf" data-target="#addBrandNameModel">上传pdf</a>
            </button>
        </div>
    </div>
</div>
<!--列表-->
<div class="container-fluid">
    <div class="bio row">
        <!--左侧-->
        <div class="left-list col-sm-3">
            <div class="block10"></div>
            <div class="text-center">
                <span>品牌列表</span>
            </div>
            <div class="block20"></div>
            <div class="form-group has-success has-feedback">
                <input type="text" class="form-control" id="inputSearch" aria-describedby="inputSearchStatus"/>
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
            <!--<div style="height:500px;overflow-y:auto;">-->
            <table class="table table-condensed text-center table-hover brand-table" id="brand">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>品牌名称</th>
                </tr>
                </thead>
                <tbody>
                <% brandRes.forEach(function(brand,index){ %>
                    <tr class="handle" data-id="<%=brand.id%>">
                        <th><%=index+1%></th>
                        <td><%=brand.manuName%></td>
                    </tr>
                <% })%>
                </tbody>
            </table>
            <!--</div>-->
        </div>
        <!--右侧-->
        <div class="col-sm-9">
            <div class="block20"></div>
            <div class="tab-content" id="tab-content">
                <div class="data-list tab-pane fade <% if(type==0){%>in active<% }%>" id="product_number">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th class="has-success has-feedback item-click-sort" style="cursor:pointer">
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                货号
                            </th>
                            <th>文献数量</th>
                            <th>视频数量</th>
                            <th>经销商数量</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="text-left" id="product_number_list">
                        <% itemRes.forEach(function(item,index){ %>
                        <tr>
                            <th scope="row"><%=index+1%></th>
                            <td><%=item.item_name%></td>
                            <td class="experiment_tag"><%=item.experiment_tag%></td>
                            <td class="video_tag"><%=item.video_tag%></td>
                            <td class="agency_tag"><%=item.agency_tag%></td>
                            <td>
                                <button id="edit-btn" type="button" class="btn btn-secondary">
                                    <a  data-toggle="modal" data-target="#productNumberModel" data-id="<%=item.id%>" data-name="<%=item.item_name%>" href="javascript:;" target="_blank">修改</a>
                                </button>
                                <button id="delate-btn" type="button" class="btn btn-dark">
                                    <a class="delete_item" data-id="<%= item.id %>"  data-experiment_tag="<%=item.experiment_tag%>" data-video_tag="<%=item.video_tag%>" data-agency_tag="<%=item.agency_tag%>"  href="javascript:;" target="_blank">删除</a>
                                </button>
                            </td>
                        </tr>
                        <% })%>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pull-right">
                            <li <% if(currentPage == 1){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% pageList.forEach(function(page){%>
                            <li <% if(currentPage == page){%> class="active" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=page%>">
                                    <%=page%>
                                    <% if(currentPage == page){%>
                                    <span class="sr-only">(current)</span>
                                    <%}%>
                                </a>
                            </li>
                            <%})%>
                            <li <% if(currentPage == totalPage){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=totalPage%>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="data-list tab-pane fade <% if(type==1){%>in active<% }%>" id="product_pdf">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th class="has-success has-feedback pdf-click-sort" style="cursor:pointer">
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                名称
                            </th>
                            <th>语言</th>
                            <th>货号</th>
                            <th>下载</th>
                            <th>打印</th>
                            <th>分享</th>
                            <th>收藏</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="text-left"  id="product_pdf_list">
                        <% pdfRes.forEach(function(pdf,index){ %>
                        <tr>
                            <th scope="row"><%=index+1%></th>
                            <td><%=pdf.pdf_name%></td>
                            <td><% if(pdf.language == 1){%>中文<%}else{%>英文<%}%></td>
                            <td><%=pdf.item_name%></td>
                            <td><%=pdf.download_num%></td>
                            <td><%=pdf.print_num%></td>
                            <td><%=pdf.share_num%></td>
                            <td><%=pdf.collection_num%></td>
                            <td>
                                <button id="edit-btn" type="button" class="btn btn-secondary">
                                    <a data-toggle="modal" data-target="#pdfNameModel" data-id="<%=pdf.id%>" data-name="<%=pdf.pdf_name%>" href="javascript:;" target="_blank">修改</a>
                                </button>
                                <button id="delate-btn" type="button" class="btn btn-dark">
                                    <a class="delete_pdf" data-id="<%= pdf.id %>" href="javascript:;" target="_blank">删除</a>
                                </button>
                            </td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pull-right">
                            <li <% if(currentPage == 1){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% pageList.forEach(function(page){%>
                            <li <% if(currentPage == page){%> class="active" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=page%>">
                                    <%=page%>
                                    <% if(currentPage == page){%>
                                    <span class="sr-only">(current)</span>
                                    <%}%>
                                </a>
                            </li>
                            <%})%>
                            <li <% if(currentPage == totalPage){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=totalPage%>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 修改货号 -->
<div class="modal fade" id="productNumberModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">修改货号</h4>
                <input type="hidden" name="item_id" value="" />
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">货号名称:</label>
                        <input type="text" class="form-control" name="item_name" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="modify_item_name">修改</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改pdf名称 -->
<div class="modal fade" id="pdfNameModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">修改pdf</h4>
                <input type="hidden" name="pdf_id" value="" />
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">pdf名称:</label>
                        <input type="text" class="form-control" name="pdf_name" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="modify_pdf_name">修改</button>
            </div>
        </div>
    </div>
</div>


<!-- 选择品牌 -->
<script type="text/javascript">
    $(function(){
        var curr_brand_id = $("#brand tbody tr:first").data('id');
        var type=0;
        var pageNow = 1;
        var order = {item:'asc',pdf:'asc'};
        var list_id = {
            0:'product_number_list',
            1:'product_pdf_list'
        };
        $("#tab-content").load("/admin/pdf?brand_id="+curr_brand_id+"&type="+type+" #tab-content>div",function () {
            for(var key in order){
                if(order[key] == 'asc'){
                    $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-up');
                }else{
                    $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-down');
                }
            }
        });
        $('#myTabs a.showlist').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            $(this).addClass('active').siblings('a').removeClass('active');
            type = $(this).data('type');
            var orderNow;
            if(type == 0){
                orderNow = order.item;
            }else{
                orderNow = order.pdf;
            }
            $("#tab-content").load("/admin/pdf?order="+orderNow+"&brand_id="+curr_brand_id+"&type="+type+" #tab-content>div",function () {
                for(var key in order){
                    if(order[key] == 'asc'){
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-up');
                    }else{
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-down');
                    }
                }
            });
        });
        //下一页
        $(document).on('click','.page',function (e) {
            var current_page = $(this).data('page');
            pageNow = current_page;
            var orderNow;
            if(type == 0){
                orderNow = order.item;
            }else{
                orderNow = order.pdf;
            }
            $("#tab-content").load("/admin/pdf?order="+orderNow+"&current_page="+current_page+"&brand_id="+curr_brand_id+"&type="+type+" #tab-content>div",function () {
                for(var key in order){
                    if(order[key] == 'asc'){
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-up');
                    }else{
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-down');
                    }
                }
            });
        });

        //排序-货号
        $(document).on("click",".item-click-sort",function(){
            if(order.item == 'asc'){
                order.item = 'desc';
            }else{
                order.item = 'asc';
            }
            $("#tab-content").load("/admin/pdf?order="+order.item+"&current_page="+pageNow+"&brand_id="+curr_brand_id+"&type="+type+" #tab-content>div",function () {
                if(order.item == 'asc'){
                    $(".item-click-sort").find('span').addClass('glyphicon-chevron-up');
                }else{
                    $(".item-click-sort").find('span').addClass('glyphicon-chevron-down');
                }
            });
        })

        //排序-pdf
        $(document).on("click",".pdf-click-sort",function(){
            if(order.pdf == 'asc'){
                order.pdf = 'desc';
            }else{
                order.pdf = 'asc';
            }
            $("#tab-content").load("/admin/pdf?order="+order.pdf+"&current_page="+pageNow+"&brand_id="+curr_brand_id+"&type="+type+" #tab-content>div",function () {
                if(order.pdf == 'asc'){
                    $(".pdf-click-sort").find('span').addClass('glyphicon-chevron-up');
                }else{
                    $(".pdf-click-sort").find('span').addClass('glyphicon-chevron-down');
                }
            });
        })

        //修改货号模态页
        $('#productNumberModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('name') // Extract info from data-* attributes
            var item_id = button.data('id') // Extract info from data-* attributes
            var modal = $(this)
            modal.find('.modal-title').text('修改货号名称 ' + (recipient ? recipient : ''))
            modal.find('.modal-body input[name="item_name"]').val(recipient)
            modal.find('.modal-header input[name="item_id"]').val(item_id)
        });



        //修改pdf名称模态页
        $('#pdfNameModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('name') // Extract info from data-* attributes
            var pdf_id = button.data('id');
            var modal = $(this)
            modal.find('.modal-title').text('修改pdf名称 ' + (recipient ? recipient : ''))
            modal.find('.modal-body input[name="pdf_name"]').val(recipient)
            modal.find('.modal-header input[name="pdf_id"]').val(pdf_id)
        });

        $("#brand tbody tr:first").addClass('success');

        $(document).on("click","#brand tbody tr",function(event){
            curr_brand_id = $(this).data('id');
            var orderNow;
            if(type == 0){
                orderNow = order.item;
            }else{
                orderNow = order.pdf;
            }
            $("#tab-content").load("/admin/pdf?order="+orderNow+"&brand_id="+curr_brand_id+"&type="+type+" #tab-content>div",function () {
                for(var key in order){
                    if(order[key] == 'asc'){
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-up');
                    }else{
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-down');
                    }
                }
            });
            $(this).addClass('success').siblings().removeClass('success');
        });

        /**
         * 跳转到上传页面
         */
        $(document).on("click","#showAddPdf",function(){
            var url = '/admin/showAddpdf?brand_id='+curr_brand_id;
            // location.href=url;
            window.open(url);
        });

        /**
         * 删除pdf
         */
        $(document).on("click",".delete_pdf",function(){
            var that = this;
            layer.confirm('您确定删除该pdf？', {
                btn: ['确定','取消'] //按钮
            }, function() {
                var index = layer.load(1, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
                $.ajax({
                    url: '/admin/deletePdf',
                    type: 'delete',
                    dataType: 'json',
                    data: {
                        pdf_id: $(that).data('id')
                    },
                    success: function (res) {
                        layer.closeAll('loading')
                        if (res.res) {
                            layer.msg(res.mes, {icon: 1}, function (e) {
                                $(that).parents("tr").remove();
                            });
                        }
                    },
                    error: function (err) {
                        layer.closeAll('loading')
                    }
                });
            },function(){

            })
        })

        /**
         * 删除货号
         */
        $(document).on("click",".delete_item",function(){
            var that = this;
            layer.confirm('您确定删除该货号？', {
                btn: ['确定','取消'] //按钮
            }, function() {
                if($(that).data('video_tag') > 0 || $(that).data('experiment_tag') > 0 || $(that).data('agency_tag') > 0 ){
                    layer.msg("该品牌下面有pdf数量不为0 不能删除", {icon: 0});
                    return;
                }

                var index = layer.load(1, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
                $.ajax({
                    url: '/admin/deleteItem',
                    type: 'delete',
                    dataType: 'json',
                    data: {
                        item_id: $(that).data('id')
                    },
                    success: function (res) {
                        layer.closeAll('loading')
                        if (res.res) {
                            layer.msg(res.mes, {icon: 1}, function (e) {
                                $(that).parents("tr").remove();
                            });
                        }
                    },
                    error: function (err) {
                        layer.closeAll('loading')
                    }
                })
            },function(){

            })
        })

        // 输入框搜索
        $("#inputSearch").keypress(function(event){
            if(event.keyCode == 13){
                var brand_name = $(this).val();
                $("#brand").load("/admin/searchBrand?brand_name="+brand_name+" #brand>*");
            }
        });


        /**
         * 修改货号
         */
        $("#modify_item_name").click(function(event){
            var item_name = $("input[name='item_name']").val();
            var item_id = $("input[name='item_id']").val()
            $.ajax({
                url:'/admin/modifyItemName',
                type:'post',
                dataType:'json',
                data:{
                    item_name:item_name,
                    item_id:item_id

                },
                success:function(res){
                    if(res.res){
                        location.reload();
                    }
                }
            })
        });

        /**
         * 修改pdf名称
         */
        $("#modify_pdf_name").click(function(event){
            var pdf_name = $("input[name='pdf_name']").val();
            var pdf_id = $("input[name='pdf_id']").val();
            $.ajax({
                url:'/admin/modifyPdfName',
                type:'post',
                dataType:'json',
                data:{
                    pdf_name:pdf_name,
                    pdf_id:pdf_id

                },
                success:function(res){
                    if(res.res){
                        location.reload();
                    }
                }
            })
        });



    })
</script>
</body>

</html>