<!DOCTYPE html>
<html>
<head>
    <title>后台管理主页</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--wang-->
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="/jquery-3.2.1.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/layer/layer.js"></script>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/layer/css/layer.css">
    <link rel="stylesheet" href="/stylesheets/adminLogin.css">
    <link rel="stylesheet" href="/stylesheets/adminNav.css">

</head>


<body>

<div class="esjy-col">
    <%- include adminNav %>
    <div class="subNav bg-dark ">
        <a class="navitem-name" href="javascript:;">用户操作</a>
        <div class="subitems" id="myTabs">
            <a href="#trailProductMessage" role="tab" data-toggle="pill" aria-controls="comment"
               class="showlist <% if(type == 0){ %>active  <% } %>"
               aria-expanded="true" data-type="0">评论</a>
            <a href="#apply_product" role="tab" data-toggle="pill" aria-controls="trailproduct"
               class="showlist <% if(type == 1){ %>active<% } %>"
               data-type="1">试用品申请</a>
            <a href="#operation_statistic" role="tab" data-toggle="pill" aria-controls="operation"
               class="showlist <% if(type == 2){ %>active<% } %>"
               data-type="2">操作统计</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="bio row">
        <div class="col-sm-12">
            <div class="block20"></div>
            <div class="tab-content" id="tab-content">
                <div class="data-list tab-pane fade <% if(type==0){%>in active<% }%>" id="trailProductMessage">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th class="has-success has-feedback comment-click-sort" style="cursor:pointer">
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                pdf
                            </th>
                            <th>评论时间</th>
                            <th>评论内容</th>
                            <th>用户IP</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="text-left" id="product_message_list">
                        <% messageRes.forEach(function(message,index){ %>
                        <tr>
                            <th scope="row"><%=index+1%></th>
                            <td><%=message.pdf_name%></td>
                            <td><%=message.create_time%></td>
                            <td><%=message.message_content%></td>
                            <td><%=message.user_ip%></td>
                            <td>
                                <% if(message.check_status == 0){%>
                                <input type="hidden" id="pid" value="<%=message.pid%>">
                                <button id="edit-btn" type="button" class="btn btn-secondary">
                                    <a class="check_passed" data-id="<%= message.id %>"
                                       href="javascript:;" target="_blank">通过</a>
                                </button>
                                <button id="delate-btn" type="button" class="btn btn-dark">
                                    <a class="check_unpassed" data-id="<%= message.id %>" href="javascript:;"
                                       target="_blank">驳回</a>
                                </button>
                                <%}else if(message.check_status==2){%>
                                <a class="text-primary">审核未通过</a>
                                <%}else if(message.check_status == 1){%>
                                <a class="text-primary">审核通过</a>
                                <%}%>

                                <!--<a class="text-primary" data-toggle="modal" data-target="#productNumberModel" data-id="<%=message.id%>" data-name="<%=message.item_name%>" href="javascript:;">修改</a>
                                <a class="delete_item text-primary" href="javascript:;" data-id="<%=message.id%>">删除</a>-->
                            </td>
                        </tr>
                        <% })%>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pull-right">
                            <li <% if(currentPage == 1){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% pageList.forEach(function(page){%>
                            <li <% if(currentPage == page){%> class="active" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=page%>">
                                    <%=page%>
                                    <% if(currentPage == page){%>
                                    <span class="sr-only">(current)</span>
                                    <%}%>
                                </a>
                            </li>
                            <%})%>
                            <li <% if(currentPage == totalPage){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=totalPage%>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="data-list tab-pane fade <% if(type==1){%>in active<% }%>" id="apply_product">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>申请日期</th>
                            <th class="has-success has-feedback myTrailProduct-click-sort" style="cursor:pointer">
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                试用品名称
                            </th>
                            <th>姓名</th>
                            <th>单位</th>
                            <th>地址</th>
                            <th>手机</th>
                            <!--<th>评论数量</th>-->
                        </tr>
                        </thead>
                        <tbody class="text-left"  id="apply_product_list">
                        <% trailProductRes.forEach(function(product){ %>
                        <tr>
                            <th scope="row"><%=product.id%></th>
                            <td><%=product.update_time%></td>
                            <td><%=product.goods_name%></td>
                            <td><%=product.user_name%></td>
                            <td><%=product.user_company%></td>
                            <td><%=product.user_address%></td>
                            <td><%=product.user_phone%></td>
                            <!--<td><%=product.mesCount%></td>-->
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pull-right">
                            <li <% if(currentPage == 1){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% pageList.forEach(function(page){%>
                            <li <% if(currentPage == page){%> class="active" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=page%>">
                                    <%=page%>
                                    <% if(currentPage == page){%>
                                    <span class="sr-only">(current)</span>
                                    <%}%>
                                </a>
                            </li>
                            <%})%>
                            <li <% if(currentPage == totalPage){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=totalPage%>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="data-list tab-pane fade <% if(type==2){%>in active<% }%>" id="operation_statistic">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>IP地址</th>
                            <th>本月操作</th>
                            <th>打印</th>
                            <th>收藏</th>
                            <th>下载</th>
                            <th>分享</th>
                        </tr>
                        </thead>
                        <tbody class="text-left"  id="operation_statistic_list">
                        <% operationRes.forEach(function(operation){ %>
                        <tr>
                            <th scope="row"><%=operation.user_ip%></th>
                            <td><%=operation.login_num_month%></td>
                            <td><%=operation.print_num%></td>
                            <td><%=operation.collect_num%></td>
                            <td><%=operation.down_num%></td>
                            <td><%=operation.share_num%></td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination pull-right">
                            <li <% if(currentPage == 1){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="1" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% pageList.forEach(function(page){%>
                            <li <% if(currentPage == page){%> class="active" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=page%>">
                                    <%=page%>
                                    <% if(currentPage == page){%>
                                    <span class="sr-only">(current)</span>
                                    <%}%>
                                </a>
                            </li>
                            <%})%>
                            <li <% if(currentPage == totalPage){%> class="disabled" <%}%>>
                                <a href="javascript:;" class="page" data-page="<%=totalPage%>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 修改货号 -->
<div class="modal fade" id="productNumberModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">修改货号</h4>
                <input type="hidden" name="product_id" value="" />
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">货号名称:</label>
                        <input type="text" class="form-control" name="product_number" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="modify_product_number">修改</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改pdf -->
<div class="modal fade" id="pdfNameModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">修改pdf</h4>
                <input type="hidden" name="pdf_id" value="" />
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">pdf名称:</label>
                        <input type="text" class="form-control" name="pdfName" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="modify_pdf_name">修改</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加品牌 -->
<div class="modal fade" id="brandNameModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">添加新品牌</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">品牌名称:</label>
                        <input type="text" class="form-control" name="brandName" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="add_brand">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- 选择品牌 -->
<script type="text/javascript">
    $(function(){
        var curr_brand_id = $("#brand tbody tr:first").data('id');
        var type=0;
        var pageNow = 1;
        var order = {comment:'asc',myTrailProduct:'asc'};
        var list_id = {
            0:'product_message_list',
            1:'apply_product_list',
            2:'operation_statistic_list'
        };
        $("#tab-content").load("/admin/users?type="+type+" #tab-content>div",function () {
            for(var key in order){
                if(order[key] == 'asc'){
                    $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-up');
                }else{
                    $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-down');
                }
            }
        });
        $('#myTabs a.showlist').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
            type = $(this).data('type');
            var orderNow;
            if(type == 0){
                orderNow = order.comment;
            }else{
                orderNow = order.myTrailProduct;
            }
            $(this).addClass('active').siblings('a').removeClass('active');
            $("#tab-content").load("/admin/users?order="+orderNow+"&type="+type+" #tab-content>div",function () {
                for(var key in order){
                    if(order[key] == 'asc'){
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-up');
                    }else{
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-down');
                    }
                }
            });
        });
        $(document).on('click','.page',function (e) {
            var current_page = $(this).data('page');
            pageNow = current_page;
            var orderNow;
            if(type == 0){
                orderNow = order.comment;
            }else{
                orderNow = order.myTrailProduct;
            }
            window.history.pushState(null,null,"/admin/users?order="+orderNow+"&current_page="+current_page+"&type="+type);
            $("#tab-content").load("/admin/users?order="+orderNow+"&current_page="+current_page+"&type="+type+" #tab-content>div",function () {
                for(var key in order){
                    if(order[key] == 'asc'){
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-up');
                    }else{
                        $("."+key+"-click-sort").find("span").addClass('glyphicon-chevron-down');
                    }
                }
            });
        });

        $(document).on("click",".comment-click-sort",function(){
            if(order.comment == 'asc'){
                order.comment = 'desc';
            }else{
                order.comment = 'asc';
            }
            $("#tab-content").load("/admin/users?order="+order.comment+"&current_page="+pageNow+"&type="+type+" #tab-content>div",function () {
                if(order.comment == 'asc'){
                    $(".comment-click-sort").find('span').addClass('glyphicon-chevron-up');
                }else{
                    $(".comment-click-sort").find('span').addClass('glyphicon-chevron-down');
                }
            });
        })
        $(document).on("click",".myTrailProduct-click-sort",function(){
            if(order.myTrailProduct == 'asc'){
                order.myTrailProduct = 'desc';
            }else{
                order.myTrailProduct = 'asc';
            }
            $("#tab-content").load("/admin/users?order="+order.myTrailProduct+"&current_page="+pageNow+"&type="+type+" #tab-content>div",function () {
                if(order.myTrailProduct == 'asc'){
                    $(".myTrailProduct-click-sort").find('span').addClass('glyphicon-chevron-up');
                }else{
                    $(".myTrailProduct-click-sort").find('span').addClass('glyphicon-chevron-down');
                }
            });
        })


        $("#brand tbody tr:first").addClass('success');

        $(document).on("click","#brand tbody tr",function(event){
            curr_brand_id = $(this).data('id');
            $("#tab-content").load("/admin/users?brand_id="+curr_brand_id+"&type="+type+" #tab-content>div");
            $(this).addClass('success').siblings().removeClass('success');
        });

        // 输入框搜索
        $("#inputSearch").keypress(function(event){
            if(event.keyCode == 13){
                var brand_name = $(this).val();
                $("#brand").load("/admin/searchBrand?brand_name="+brand_name+" #brand>*");
            }
        });

        $(document).on('click',".check_passed",function(event){
            var index = layer.load(1, {
                shade: [0.1, '#fff'] //0.1透明度的白色背景
            });
            $.ajax({
                url:'/admin/checkPassed',
                type:'post',
                dataType:'json',
                data:{
                    message_id:$(this).data('id'),
                    pid:$('#pid').val()
                },
                success:function(res){
                    layer.closeAll('loading')
                    if (res.res) {
                        layer.msg(res.msg, {icon: 1}, function (e) {
                            location.reload();
                        });
                    }else{
                        layer.msg(res.msg, {icon: 0});
                    }
                },
                error: function (err) {
                    layer.closeAll('loading');
                    layer.msg(err.message, {icon: 0});
                }
            })
        });
        $(document).on('click',".check_unpassed",function(event){
            var index = layer.load(1, {
                shade: [0.1, '#fff'] //0.1透明度的白色背景
            });
            $.ajax({
                url:'/admin/checkUnPassed',
                type:'post',
                dataType:'json',
                data:{
                    message_id:$(this).data('id')
                },
                success:function(res){
                    layer.closeAll('loading')
                    if (res.res) {
                        layer.msg(res.msg, {icon: 1}, function (e) {
                            location.reload();
                        });
                    }else{
                        layer.msg(res.msg, {icon: 0});
                    }
                },
                error: function (err) {
                    layer.closeAll('loading');
                    layer.msg(err.message, {icon: 0});
                }
            })
        })
    })
</script>
</body>

</html>